# Entorno virtual
venv/
env/
*/venv/
*/env/

# Archivos compilados/cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos locales (si usaste sqlite para probar)
db.sqlite3
*.sqlite3

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de media (opcional - decide si quieres versionarlos o no)
# media/

# Archivos de variables de entorno locales (si usas python-dotenv)
.env
*.env

# Archivos temporales/sistema operativo
*.swp
*~
.DS_Store
Thumbs.db